@font-face {
    font-family: "FaRegular";
    src:
            local("FaRegular"),
            url("../fonts/fa-regular-400.woff") format("woff"),
            url("../fonts/fa-brands-400.woff") format("woff"),
            url("../fonts/fa-solid-900.woff") format("woff");
}

html, body {
    padding: 0;
    margin: 0;
    color: red;
}

.my-indicator{
    display:none;
}
.htmx-request .my-indicator{
    display:inline;
}
.htmx-request.my-indicator{
    display:inline;
}