<!DOCTYPE html>
<html lang="en">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="js/htmx.min.js"></script>
  <script src="js/sortable.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

  <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div class="container">
  <h1 th:text="${title}"></h1>
  <section th:replace="components/item/item-form"></section>
  <form
      class="sortable sortable-list"
      hx-ext='json-enc'
      hx-post="/items"
      hx-trigger="end"
  >
      <section th:replace="~{${template}}"></section>
  </form>
  <div
      hx-trigger="new-item-trigger from:body"
      hx-get="/items"
      hx-target=".sortable.sortable-list"
      hx-swap="innerHTML"
      hx-indicator="#busyLoadingList"
  ></div>
  <div id="anotherDiv">

  </div>
  <button
      class="icon"
      hx-get="/list"
      hx-swap="innerHTML"
      hx-target="#anotherDiv"
      hx-indicator="#spinner"
  >
    Get Data
    <img
        id="spinner"
        class="my-indicator"
        src="img/spinner.gif"
        width="40"
    />
  </button>


</div>
</body>
</html>