<!DOCTYPE html>
<html lang="en">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="js/htmx.min.js"></script>
  <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div class="container">
  <h1 th:text="${title}"></h1>
  <!-- <section th:replace="~{${template}}"></section> -->
  <div id="anotherDiv">
    <img
        id="spinner"
        class="my-indicator"
        src="img/spinner.gif"
        width="80"
    />
  </div>
  <button
      class="icon"
      hx-get="/list"
      hx-swap="innerHTML"
      hx-target="#anotherDiv"
      hx-indicator="#spinner"
  >
    Get Data
  </button>
</div>


</body>
</html>