@import "../templates/components/sortable-list/list";
@import "../templates/components/sortable-list/sortable-list";
@import "reset";
@import "simple-grid";
@import "component";
@import "fx-lib";

.my-indicator {

  display: none;
  &.busy-default {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & .busy-backdrop {
      position: absolute;
      background-color: #fdfdfd;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      img {
        position: absolute;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        width: 70px;
      }
    }
  }
}

.htmx-request .my-indicator {
  display: inline;
  position: absolute;
  z-index: 1000;
}

.htmx-request.my-indicator {
  display: inline;
  position: absolute;
  z-index: 1000;
}
