@import "reset";
@import "_simple-grid.scss";
@import "../templates/components/sortable-list/list";

.my-indicator {
  display: none;
}

.htmx-request .my-indicator {
  display: inline;
}

.htmx-request.my-indicator {
  display: inline;
}
