<div
    th:each="item: ${items}"
    class="sortable-list__item row even-row-color"
>
  <span class="col-4" th:text="${item.name}"></span>
  <span class="col-5" th:text="${item.email}"></span>
  <span class="col-1"><button>delete</button></span>
  <span class="col-1"><button>edit</button></span>

  <input
      th:value="${item.getId()}"
      type='hidden'
      name='item'
  />
</div>

<div id="busyLoadingList" class="my-indicator busy-default">
  <div class="busy-backdrop">
    <img width="70" src="img/spinner.gif"/>
  </div>
</div>
