<div
    th:fragment="item (dropped, item, isClone)"
    th:attr="id='id-'+ ${item.id}"
    th:classappend="${dropped} ? 'dropped' : ''"
    class="sortable-list__item row"
>
  <div class="col-md-5">
    <div class="form-control">
      <input
          th:attr="
            hx-post='/item/update/'+ ${item.id},
            name='name-'+ ${item.id}
          "
          th:value="${item.name}"
          hx-swap="none"
          hx-trigger="keyup delay:350ms"
          type="text"
      />
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-control">
      <input
          th:value="${item.email}"
          th:attr="
              hx-post='/item/update/'+ ${item.id},
              name='email-'+ ${item.id}
            "
          hx-trigger="keyup delay:350ms"
          hx-swap="none"
          type="text"
      />
    </div>
  </div>
  <div class="col-md-1">
    <a
        class="fa fa-times btn btn-danger"
        th:if="${!isClone}"
        th:attr="hx-delete='/item/delete/'+ ${item.id}"
        hx-indicator="#busyLoadingList"
        hx-target="closest .sortable-list__item"
        hx-swap="outerHTML"
    ></a>
  </div>
  <div class="col-md-1">
    <a class="fa fa-directions btn btn-secondary handle"></a>
  </div>
  <input
      th:value="${item.getId()}"
      type='hidden'
      name='item'
  />

</div>