<form
    id="itemForm"
    hx-put="/item/new"
    hx-ext='json-enc'
    hx-indicator="#busySaving, #busyLoadingList"
    hx-swap="beforeend"
    hx-target="#listContainer"
    class="fx-relative"
>
<div id="busySaving" class="my-indicator busy-default">
  <div class="busy-backdrop">
    <img src="/img/spinner.gif"/>
  </div>
</div>

  <div
      th:replace="~{components/form/input.html ::
      formField(
        field='name',
        value='',
        size='',
        modifier='--stacked',
        target=''
       )}"
  ></div>
  <div
      th:replace="~{components/form/input.html ::
      formField(
        field='email',
        value='',
        size='',
        modifier='--stacked',
        target=''
       )}"
  ></div>
  <div class="form-control form-control--stacked">
    <button
        class="btn btn-secondary"
        type="submit"
    >
      Send
    </button>
  </div>
<div id="newListItemHtml" class="" hx-trigger="swap">
  <div th:if="${item}">
    <div th:replace="~{components/item/item.html :: item(dropped=false, item=${item}, isClone=true)}"></div>
  </div>
</div>
</form>